.env
/vendor
/storage/debugbar
/storage/framework/views/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/logs/*
/storage/app/*
/storage/cloud/*
.settings
.project
.idea
composer.lock
